{{!-- <h1>Goals!</h1>
 --}}
 <br>
<div class = "container z-depth-5">
  <div class = "container">
  <br>
      <h2>Welcome to your business profile!</h2>
      <h3>Name: {{businessname}}</h3>
      <h4>Website: {{website}} </h4>
      <h5>Login Email: {{email}} </h5>
      <p> {{zipcode}}</p>
      <button class="waves-effect waves-green btn-flat"><a href="/browse">Browse additional goals</a></button>
</div>
</div>
<div class = "container z-depth-5">
  <div class="container">
  <div class='row'>
  <br>
    <h3>Goals your business is associated with</h3>
  </div>

  <div class='row'>
    <p>{{#each goals}}</p>
          {{this.goalname}}
          <br>
              <a href="#modal1">
                    <img class="imageicon responsive-img card-image" src="{{this.imageURL}}"/>
              </a>
                  <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                          <div class="modal-content">
                            <h4>List of users nearby interested in this goal</h4>
                          </div>
                          <h5>There are 24 interested users</h5>
                          <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Thanks!</a>
                          </div>
                    </div>
  {{!-- end of modal --}}

  {{/each}}

  
  </div>
  </div>

</div>


{{!-- To Do List:

Edit business profile information
View all goals associated by the current business
Allow for deletion/updating of selected goals --}}
