<div class='row'>
  <div class="col s9">

    <h4>Tom's To Do List:</h4>
    <p>Create "selected" area at the top of the page. This will contain goals that the user wants to add to their profile. Include a 'Done' button.
    List all goals from the DB in a tile format. Exclude goals that are already selected by the current user.
    Include "create a goal" button which creates a modal to create a new goal.
    </p>

    <h4>Click on any activity below to add it to your list!</h4>
    <hr>

    <div class='row'>
      {{#each goals}}
      <div class="col s4">
        
        <a href="add-user-goal/1/{{this.id}}">
          <div id={{this.id}} class='card'>
            <div class="goalcard">
              <img class="imageicon" src="{{this.imageURL}}">
            </div>
            <div class="goaltitle">
              {{this.goalname}}
            </div>

{{!--             <form action="add-user-goal/1/{{this.id}}" method="POST">
              <input type="hidden" name="addNewGoal" value="true">
              <button type="submit">Add Goal!</button>
            </form> --}}


          </div>
        </a>

      </div>
      {{/each}}
    </div>
  </div>

  <div class="col s3">
    <div class="sidebar">
      <a href="uprofile">
        <button class="waves-effect waves-light btn">Go to profile</button>
      </a>

      <form class="create-update-form" action="browse" method="POST">
      <div class="form-group">
        <input type="text" id="filterResult" name="filterResultString">
      </div>
      <p><button class="waves-effect waves-light btn">Add Filter</button></p>

      <button class="waves-effect waves-light btn">Add Goal</button>
    </div>
  </div>
</div> 