<div class="container">
<h2>Welcome {{firstname}},</h2>
<div class ="row">
{{firstname}}
{{lastname}}
{{email}}

{{#each goals}}
            <div class="goalcard">
              <img class="imageicon responsive-img" src="{{this.imageURL}}">
            </div>

      {{/each}}

      <h3>These are your goals</h3>
<h4>User ID and Goal Id</h4>
      {{#each usergoals}}
        <p>User id{{this.userid}}</p>
        <p>Goal id{{this.goalid}}</p>
      {{/each}}
</div>

{{!-- This is Marija's To Do List:

Edit user profile information (seperate tab?)
View all goals selected by the current user (left side)
Show completed goals of that user (right side)
Allow for deletion of selected goals
Allow for marking complete selected goals
On hover, display business/helper information --}}

