{{!-- conatiner to hold the user profile dashboard --}}
<div class="container z-depth-5">
  {{!-- <div class = "container"> --}}
  <br>
      <div class ="row">
          <div class="col s12">
          <h3>Welcome back, {{firstname}}!</h3>
          </div>
      </div>
{{!-- the dashboard holds a photo of the user --}}
  <div class = "row">
      <div class = "col s5 l6">
        <img class="responsive-img" style="padding: inherit;" src="http://placehold.it/300x300">
      </div>
      <div class = "col s7 l6">
          <table>
          <caption>{{firstname}}'s Dashboard</caption>
              <thead>
                  <tr>
                    <th data-field="firstname">First Name</th>
                    <th data-field="lastname">Last Name</th>
                    <th data-field="email">Email</th>
                  </tr>
              </thead>
        {{!-- table body --}}
              <tbody>
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{email}}</td>
                </tr>
              </tbody>
          </table>
          </div>
    </div>
    {{!-- </div> --}}
<div class = "row">
      <div class = "col s12 l12">
        <table>
          <caption><h3>List of {{firstname}} {{lastname}}'s Goals</h3></caption>
          <thead>
            <tr>
              <th>Goals</th>
              <th>Click on Image for Suggestion</th>
            </tr>
          </thead>
          <tbody>
            {{#each goals}}
            <tr>
              <td><h6>{{this.goalname}}</h6></td>
              <td><a href="#modal1"><img style="width: 150px; height:150px;" class="imageicon responsive-img" src="{{this.imageURL}}"><button id="closeButton">X Remove</button></a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
              
      </div>
</div>

                          <!-- Modal Structure -->
                            <div id="modal1" class="modal">
                                  <div class="modal-content">
                                    <h4>List of businesses nearby that might help you:</h4>
                                    <h5>Visitor's Bureau</h5>
                                        <p>100 U. Drive. NJ 08990</p>
                                        <img class="responsive-img" src="http://placehold.it/100x100">
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Thanks!</a>
                                  </div>
                            </div>
                            {{!-- {{#each goals}}
        {{#unless this.goalstatus}}
            {{this.goalname}}

            <form action="goals/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="goalstatus" value="true">
              <button type="submit">Completed</button>
            </form>
        {{/unless}}
      {{/each}} --}}
                            {{!-- end of modal --}}
                    {{!-- </div> --}}
                  {{!-- {{/each}} --}}
            {{!-- </div>
        </div> --}}
        
</div>
<br>
<div class="container z-depth-5 ">
    <div class = "col l12 s12">
          <h5 style="text-align: center;">Completed goals</h5>
        </div>
</div>
{{!-- </div> --}}




{{!-- This is Marija's To Do List:

Edit user profile information (seperate tab?)
View all goals selected by the current user (left side)
Show completed goals of that user (right side)
Allow for deletion of selected goals
Allow for marking complete selected goals
On hover, display business/helper information --}}

